textarea#award.form-control(style="width: 100%;")
.btn-group.btn-group-justified
    .btn-group(style="padding-right: 2px")
        button#sendPlayer.btn.btn-xs.btn-success(type="button") Show
    .btn-group.btn-group-justified
        .btn-group(style="padding-left: 2px")
            button#hidePlayer.btn.btn-xs.btn-danger(type="button") Hide